# Node.js
node_modules/
dist/
.env
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

# Java
*.class
*.jar
*.war
*.ear
*.iml
*.idea/
target/

# Operating System Files
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Build Tools
/build/
/out/

# Logs and Temporary Files
*.log
*.tmp
*.swp
*.lock
*.pid

# Testing
coverage/
.nyc_output/
.jest/
*.test-results.json

# Dependency directories
node_modules/
vendor/

# Environment files
.env
.env.*.local

# Others
*.bak
*.orig
*.rej
*.un~
server/src/.env
